.welcome-page {
    position: relative;
    width: 400px; 
    height: 335px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 15px; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .welcome-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 0rem;
    font-size: 2.1rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: 1px;
  }
  
  button {
    background-color: #00ffdd;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #01645d;
    transform: translateY(-2px);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 255, 251, 0.5);
  }
  
